body {
	background: #9BCD9B;
}

#container {
	position: relative;
	margin: auto;
}

#header {
	background: #2F4F4F;
	color: white;
}

#sidebar {
	position: absolute;
	left: 0;
	top: 59px;
	width: 10em;
	background: #53868B;
}

#content {margin: 0 10em; background: #FFFFF2;}

#tree_results .tree .title {font-size: 110%;}
.actions {font-size: 80%;}
#tree_results .tree .details {font-size: 80%; color: #555}
