<p><strong>Dimension History</strong></p>
<table>
  <tr>
    <th>Date</th>
    <th>Height</th>
    <th>Width</th>
    <th>Observation</th>
  </tr>
  <% for dim in @tree.dimensions %>
    <tr>
      <td><%= dim.created_at %> </td>
      <td><%= "#{dim.height["value"]} #{dim.height["unit"]}" %></td>
      <td><%= "#{dim.width["value"]} #{dim.width["unit"]}" %></td>
      <td><%= dim.observation %> </td>
    </tr>
  <% end %>
</table>